{% extends 'base.html' %}

{% block title %}Computer Science Page{% endblock %}

{% block content %}
{{ super() }}
<div class="program-info">
    <h2>Computer Science and Engineering (CSE)</h2>
    <ul>
        <li>
            <h3>Computer Engineering (CSE)</h3>
            <p>Choose Computer Engineering (CSE) because of its huge impact on the world.</p>
            <p>Become a developer, not just a consumer, by creating new applications and solving real-world problems.</p>
            <p>Gain work ethic, problem-solving, and positive thinking leading to high-paying jobs in many industries.</p>
            <p>Unleash your creativity by coding and creating digital products that inspire millions.</p>
            <p>CSE challenges your intelligence, expands your knowledge base, and sharpens your mind.</p>
            <p>Be at the forefront of technological advancement, creating the future of artificial intelligence, cybersecurity, and robotics.</p>
            <p>CSE offers quality solutions, analysis, communication, as well as technology, giving you versatility and flexibility in every field.</p>
        </li>
    </ul>
</div>

{% endblock %}
