.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
    
    
    
}
.label{
    font-family: "Roboto Slab";
    font-size: 13px;
    
}
.pt-2{
    text-align: center;
}


.display{
    display: grid;
    grid-template-rows: auto auto auto;
    
}
.select{
    height: 50px;
    font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#higher_12{
    display: none;
}
#diploma1{
    display: none;
}
.form-check label{
    margin:0 1rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding:3px 5px;
  }
@media screen and (max-width:650px) {
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        /* width: 85vw; */
        padding: 0;
    }
    .grid-item label{
        font-size: 13px;
    }
}
.grid-item {
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding:0px;

}

.form-control-lg{
    font-size: 16px;
    
 }

p{
    font-size: small;
 }

 .mt-4-pt-2{
    margin: auto;
    text-align: center;
}

.col-md-6-mb-4{
    display: block;
    margin: 25px;
    
}

.col-md-6-mb-4-pb-2{
    display: block;
    margin: 27px;
    margin-top: 0px;
    margin-bottom: 20px;

}

h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.gradient-custom{
    margin-top: 20px;
    height: 840px;
}